<% provide(:title, "Sign in") %>

<div class="initial">
  <div id="session_new">

    <%= form_for(:session, url: sessions_path) do |f| %>

        <%= f.label :email, :style=>"margin-left:24.75%" %>
        <%= f.text_field :email, :size=>32 %> <br />

        <%= f.label :password,:style=>"margin-left:20.5%" %>
        <%= f.password_field :password, :size=>33 %> <br /> <br />

        <%= f.submit "Sign in", class: "button", :style=>"margin-left:40.5%" %>
    <% end %>

    <p>
      New user? <%= link_to "Sign up now!", signup_path, :style=>"color:blue" %></p>
  </div>
  <div id="session_image">
    <%= image_tag "writing.jpg", :size=>"400x200" %>
  </div>
  </div>
