
<% provide(:title, "Edit user") %>
<div class="row">
 <div class="span4 offset4" >



    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages',  object: f.object%>

        <%= f.label :name%>
        <%= f.text_field :FirstName,:size=>30 %><br/>
        <%= f.label :LastName%>
        <%= f.text_field :LastName %><br/>
        <%= f.label :Email %>
        <%= f.text_field :email, :size=>30 %> <br/>

        <%= f.label :password %>
        <%= f.password_field :password,:size=>31 %> <br/>

        <%= f.label :password_confirmation, "Confirm Password"%>
        <%= f.password_field :password_confirmation, :size=>31 %> <br/>
          <br/>
        <%= f.submit "Save changes", class: "btn btn-large btn-primary" %> <br/> <br/>

      <%= image_tag "shower.jpg" %>

    <% end %>


 </div>
</div>

