<% provide(:title, 'Sign up') %>

  <div class="initial">
 <div id="reg_position">
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>

        <%= f.label :FirstName%>
        <%= f.text_field :FirstName%>
        <%= f.label :LastName%>
        <%= f.text_field :LastName %>

        <%= f.label :email%>
        <%= f.text_field :email %>

        <%= f.label :password%>
        <%= f.password_field :password%> </br>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation %> </br>

        <%= f.submit "Create my account", class: "button btn-large btn-primary" %>
    <% end %>
  </div>
</div>

 </div>
      </div>