
  <div class="row">
    <div class="span4 offset3">
  <% if !signed_in? %>
      <div id="edit_unsigned" >
        <%=  link_to "Register", signup_path , :style=>"color:blue"%> <br /> <br />
        <%= link_to "Sign in", signin_path, :style=>"color:blue" %>

      </div>
  <% end %>
   </div>
   </div>
  <div class="row" >
    <div class="span 4 offset6">
      <div class="field">
    <input type="text" value= <%=@product.product_url%> ,  class="video_title">
        </div>
    </div>
    </div>


  <% if signed_in? %>



  </br>

      <p id="stats" >

         <br /> <br />

        <%if @comment.count == 1 %>
            <%= @comment.count %> <a href="#comments">Comment </a> </br>
        <% else %>
            <%= @comment.count %> <a href="#comments">Comments </a> </br>
        <% end %>
        <%if @question.count == 1 %>
            <%= @question.count %> <a href="#comments">Question </a> </br>
        <% else %>
            <%= @question.count %> <a href="#comments">Questions </a> </br>
        <% end %>

       </p>

  <% end %>

    <div class="row">
     <div class="span4">
    <% if( !signed_in?) %>

           <div class="row">
             <div class="span4">


       <div class="span6 offset4">
    <%= video_player({:file=>@product.video.url.to_s}, width:500, height:400)%>
         </div>
     </div>
     </div>
     <% end %>
     <%= video_player({:file=>@product.video.url.to_s}, width:500, height:400) %>
       <% if signed_in? %>
     <%= link_to "Product Report", display_path(:id=>@product.id) %>
        <%end%>
  </div>
  </div>

  <% if signed_in? %>
      <%= form_for @product  do |f| %>

          <% if @product.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

                <ul>
                  <% @product.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                  <% end %>

                </ul>
              </div>

          <%end %>

   <br/>
   <div class="row">
     <div class="span4 offset6">
            <a id="comments"></a>
            <%= f.submit  "Update", :class=> "btn btn-large btn-block btn-primary", :style=>"margin-left:5%"%>
          </div>
     </div>
     <div class="row">
        <div class="span2 offset1">
          <div id="questions_div">
            <br /> <%=  link_to_add_fields "Add Question", f, :questions %>
            <%= f.fields_for :questions do |builder| %>

                <%= render "questions_fields", :f => builder %>

            <% end %>
          </div>
          </div>
         <div class="span6 offset4">
          <div id="comments_div">

            <%=  link_to_add_fields "Add Comment", f, :comments%>
            <%= f.fields_for :comments do |builder| %>
                <div id="comments_column">
                  <%= render "comments_fields", :f => builder %>
                </div>
            <% end %>
            </div>
         </div>
      <% end %>

      <div id="footer">
      </div>

  <% end  %>  <!-- end if -->

  </div>

