

 <div id="index_div">
<table class="table-condensed">
  <tr>
    <th colspan="2">Latest Videos</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% @products.each do |product| %>
  <tr>
    <td ><%=product.product_url%></td>
    <td id="viewVideo"><%= link_to 'View Video', edit_product_path(product), :class=>"btn btn-link" %></td>


  </tr>
<% end %>
 <tfoot>
    <tr>
      <td colspan="2">
        <% if(signed_in?) %>
            <div id="index_newProduct">
              <%= link_to 'Video Upload', new_product_path, :class=>"btn btn-primary", :style=>"color:black" %> <br/>
            </div>
        <% end %>
      </td>
    </tr>
 </tfoot>
</table>

</div>
 <div id="index_lightbulb">
   <%= image_tag "isaac.jpg", :size=>"250x200" %>
 </div>

<div id="index_text">
  <br />
<h2> Dedicated to Innovation</h2>
  <p>
    This site is dedicated to entrepreneurs wishing to promote innovative ideas and gauge
    market reaction through video presentation.
  </p>
  <p>
    It is an interactive website where members will comment on your product and may seek
    clarification, through questions, of product properties.
  </p>
  <p>
    Please view the videos by clicking the link in the "Latest Videos" table adjacent.
   </p>

    <br />
  <br />
  <p id="most_voted"> View this weeks top invention</p>
  <br />
  <div class="field">
    <input type="text" value= <%=@products[0].product_url%> ,  class="top_titles">
  </div>
  <%= video_player({:file=>@products[0].video.url.to_s}, width:300, height:200)%>



</div>


 </div>




