<div id="show_user_div1">


    <% @products.each do |product| %>
         <% question_i =0 %>
        <% answers_i =0 %>
        <% comment_i=0 %>
        <table>
          <tr>
            <td class="user_table"> &nbsp</td>
          </tr>
          <tr>
            <td class="user_table"> &nbsp</td>
          </tr>
        <tr>
          <td id="url" align="center" colspan="2"> <%= product.product_url %></td>
          <% @questions.each do |question| %>
              <% if question.product_id == product.id %>
                <tr>
                  <td id="question"><%= "Question:" %> <%= question.content %></td>
                </tr>
                 <% question_i +=1 %>

                <% @answers.each do |answer| %>
                    <% if answer.question_id == question.id %>
                        <tr>
                          <td id="answer"><%= "Answer:" %>
                            <%= answer.content %></td>
                        </tr>

                       <%answers_i +=1 %>

                    <% end %>

                <% end %>

            <% end %>


        <% end %>
        <% @comments.each do |comment| %>
            <% if comment.product_id == product.id %>
                <tr>
                  <td id="comment"><%= "Comment:" %> <%= comment.content %></td>
                </tr>
                <%comment_i += 1%>
            <% end %>
        <% end %>



        </table><br />
      <h3 id ="summary"> Summary</h3>

      <p id="summary_p">
        <ul>
          <li id="li_product"><%= product.product_url %> </li>
          <li class="li_other">Total Questions: <%= question_i %> </li>
          <li class="li_other"> Total Answers: <%=  answers_i %>  </li>
          <li class="li_other"> Total Comments: <%=  comment_i %>  </li>
         </ul>
      </p>

<% end %>



  <br/>

</div>
