<p id="notice"><%= notice %></p>
<% answers_i =0 %>


 <table id="show_customer">
   <th>
     <tr>
       <td>
         Customer Name
        </td>
       <td>E-Mail</td>
       <td>Product Title</td>
     </tr>
     </th>

   <tr>
     <td> <%=current_user.FirstName %>
     <%= current_user.LastName %>  </td>
    <td> <%=  current_user.email %></td>
     <td>  <%= @product.product_url %></td>
   </tr>

 </table>
<table id="show_summary">
  <tr>
    <td> Summary</td>
  <tr>
    <td>Number of Questions</td>
    <td> Number of Answers</td>
    <td> Number of Comments</td>
  </tr>
  <tr>
    <td> <%=  @questions.count %></td>
    <td> <%=  answers_i%>
    <td> <%=  @comment.count %></td>
  </tr>
</table>






<table id="show_questions">
  <tr>
    <td class="user_table"> &nbsp</td>
  </tr>
  <tr>
    <td class="user_table"> &nbsp</td>
  </tr>
  <tr>
    <td id="url" align="center" colspan="2"> Questions & Answers</td>
    <% @questions.each do |question| %>
      <tr>
      <td > <%= "Question:" %> <%= question.content %></td>
       </tr>


  <% @answer.each do |answer| %>
      <tr>
        <%  if answer.question_id == question.id %>
        <td> <%= "Answer:" %> <%= answer.content %></td>
        </tr> <% answers_i +=1 %>
        <% end %>
      <% end %>
  <% end %>
</table>
<table id="show_comments">
  <tr>
    <td class="user_table"> &nbsp</td>
  </tr>
  <tr>
    <td class="user_table"> &nbsp</td>
  </tr>
  <tr>
    <td id="url" align="center" colspan="2"> Comments</td>
  <% @comment.each do |comment| %>
      <tr>

        <td> <%= "Comment:" %> <%= comment.content %></td>
      </tr>
  <% end %>

</table>



<p>



</p>

<div id="show_links">
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
</div>