<!DOCTYPE html>
<html>
<head>
  <title>Project</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>


  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "swfobject" %>
  <%= csrf_meta_tags %>

  </head>
  <body>

  <div id="container">

    <div id="center">
<div id="Eureka">
  <%= image_tag "GreenEureka.gif" %>
</div>
  <div class="base">
      <ul id="MenuBar1" class="MenuBarHorizontal">
    <li> <a class="MenuBarItemSubmenu MenuBarItemSubmenu" href="#">Members</a>
      <ul>
          <%if !signed_in? %>
              <li><%=  link_to "Register", signup_path %></li>
              <li><%= link_to "Sign in", signin_path %></li>
              <li><%= link_to "All Products", all_path %></li>
          <%end%>
          <%if signed_in? %>
              <li><%= link_to "Your Products Report", show_all_path %></li>
              <li> <%= link_to "Profile", edit_user_path(current_user) %> </li>
              <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
          <%end%>

        <li><%= link_to "Home", all_path %></li>
      </ul>
    </li>
    <li><a href="#" class="MenuBarItemSubmenu">Protect an Idea</a>
      <ul>
        <li><%= link_to "Patent Your Idea", patent_path %></li>
        <li><%= link_to "TradeMarking", trade_path %></li>
      </ul>

    </li>
    <li><a href="#" class="MenuBarItemSubmenu" >Idea Expansion</a>
      <ul>
        <li><%= link_to "Prototyping Process", prototype_path %></li>
        <li><%= link_to "Design Process", design_path %></li>
      </ul>
    </li>
    <li><a href="#" class="MenuBarItemSubmenu">Sell an Idea</a>
      <ul>
        <li><%= link_to "Route to Market", market_path %></li>
        <li><%= link_to "Licensing an Idea", licence_path %></li>


      </ul>
    <li><a href="#" class="MenuBarItemSubmenu">About Us</a>
      <ul>
        <li><%= link_to "Contact Us", contact_path %></li>
        <li><%= link_to "FAQ", faq_path %></li>
     </ul>
    </li>
  </ul>



<p id ="test">

</p>
<p>&nbsp; </p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<script type="text/javascript">
    var MenuBar1 = new Spry.Widget.MenuBar("MenuBar1", {imgDown:'../images/SpryMenuBarDownHover.gif',
        imgRight:'../images/SpryMenuBarRightHover.gif'});
</script>
    <div class="container">
      <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>

    </div>
<%= yield %>


</div> <!-- end div base  -->
</div>  <!-- end div center  -->
</div> <!-- end div container -->
</body>
</html>
