<!DOCTYPE html>
<html>
<head>
  <title>Project</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "swfobject" %>
  <%= csrf_meta_tags %>

</head>
<body>
<div id="center">
<div id="apDiv1">
  <ul id="MenuBar1" class="MenuBarHorizontal">
    <li> <a class="MenuBarItemSubmenu MenuBarItemSubmenu" href="#">Home</a>
      <ul>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">FAQ</a></li>
      </ul>
    </li>
    <li><a href="#" class="MenuBarItemSubmenu">Protect an Idea</a>
      <ul>
        <li><a href="#">Patent Advice</a></li>
        <li><a href="#">TradeMarking</a></li>
      </ul>

    </li>
    <li><a class="MenuBarItemSubmenu" href="#">Idea Development</a>
      <ul>
        <li><a href="#">Prototyping Process</a>        </li>
        <li><a href="#">Design Process</a></li>
      </ul>
    </li>
    <li><a href="#" class="MenuBarItemSubmenu">Sell an Idea</a>
      <ul>
        <li><a href="#">Route to Market</a></li>
        <li><a href="#">Licensing an Idea</a></li>
        <li><a href="#">Business Startups</a></li>
      </ul>
    <li><a href="#" class="MenuBarItemSubmenu">User</a>
      <ul>  <%if !signed_in? %>
            <li><%=  link_to "Register", signup_path %></li>
            <li><%= link_to "Sign in", signin_path %></li>
            <li><%= link_to "All Products", all_path %></li>
        <%end%>
        <%if signed_in? %>
            <li><%= link_to "All User Products", show_all_path %></li>
         <li><%= link_to "All Products", all_path %></li>
       <li> <%= link_to "Profile", edit_user_path(current_user) %> </li>
        <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
        <%end%>
        <li><a href="#">TradeMarking</a></li>
      </ul>
    </li>
  </ul>
</div>
<div id="apDiv2">WHAT'S THE BIG IDEA</div>
<p id ="test">

</p>
<p>&nbsp; </p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<script type="text/javascript">
    var MenuBar1 = new Spry.Widget.MenuBar("MenuBar1", {imgDown:'../images/SpryMenuBarDownHover.gif',
        imgRight:'../images/SpryMenuBarRightHover.gif'});
</script>


<%= yield %>
</div>

</body>
</html>
